<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="headerMain">
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/polyclinic/" class="nav-link px-2 text-secondary">Поликлиники</a></li>
                <li><a href="/passport/" class="nav-link px-2 text-white">Паспортные данные</a></li>
                <li><a href="/medicalcard/" class="nav-link px-2 text-white">Медкарты</a></li>
                <li><a href="/course/" class="nav-link px-2 text-white">Курсы лечения</a></li>
                <li><a href="/procedure/" class="nav-link px-2 text-white">Процедуры</a></li>
                <li><a href="/record/" class="nav-link px-2 text-white">Записи на прием</a></li>
                <li><a href="/result/" class="nav-link px-2 text-white">Результаты</a></li>
                <li><a href="/admin/" class="nav-link px-2 text-white">Пользователи</a></li>
                <div sec:authorize="hasAuthority('ADMIN')">
                <li><a href="/admin/" class="nav-link px-2 text-white">Пользователи</a></li>
                </div>
                <div sec:authorize="hasAuthority('MODERATOR')">
                    <li> <a href="/moderator/" class="nav-link px-2 text-white">Роли пользователей</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li> Привет, <span sec:authentication="name" class="nav-link px-2 text-white"></span></li>
                </div>
                <li>  <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form></li>
            </ul>
            <form method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                       name="keyword" aria-label="Search">
                <input type="submit" value="Найти">
            </form>
        </div>
    </div>
</header>
</div>