<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление паспортных данных </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Изменить паспортные данные </h1>

<form method="post" th:object="${passport}">
    <label> Серия </label>
    <input class="form-control" placeholder="Серия паспорта" th:field="*{series}" type="number"  name="series">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('series')}" th:errors="*{series}" style="color: darkred"> </div>
    <label> Номер паспорта </label>
    <input class="form-control" placeholder="Номе паспорта" type="text" th:field="*{number}" name="number">
    <div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('number')}" th:errors="*{number}" style="color: darkred"> </div>
    <label> Дата выдачи </label>
    <input class="form-control" placeholder="Дата выдачи" th:field="*{given}" type="date" name="given">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('given')}" th:errors="*{given}" style="color: darkred"> </div>
    <label for="passportSelect">Владелец: </label>
    <select name="username" id="passportSelect">
        <div th:each="el: ${userlist}">
            <option th:text="${el.username}" ></option>
        </div>
    </select>


    <div class="modal-footer flex-column border-top-0">
        <button class="w-100 mx-0 mb-2 btn btn-lg btn-primary" type="submit">Изменить паспортные данные</button>
    </div>

</form>
</body>
</html>